<div>
    <header>
        <a href="{% url 'ajout' %}">
            <button>
                Ajouter
            </button>
        </a>
    </header>
    <ul>
        {% for project in projects %}
            <li>
                <a href="{% url 'update' project.id %}">
                    <div>{{project.nameProject}}</div> 
                </a>
                <div>{{project.projectProgress}}</div> 
                <a href="{{project.link_site}}" target="_blank">
                    <div>site web</div>
                </a></br>
            </li> 
        {%endfor%}  
    </ul>
</div>